@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@import "./theme.css";

html,
body {
  @apply bg-paper dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

svg.lucide {
  @apply inline-block;
}

a {
  @apply text-light-or dark:text-dark-or;
  @apply hover:underline;
}
